<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logfile" xsi:type="File" fileName="${basedir}/Logs/fundoo_${shortdate}.log" layout="[${longdate}] [${level:uppercase=true}] [${logger}] ${message} ${exception:format=tostring}" archiveNumbering="Sequence" archiveAboveSize="10000000"/>
		<target name="errorlogfile" xsi:type="File" fileName="${basedir}/Logs/fundooError_${shortdate}.log" layout="[${longdate}] [${level:uppercase=true}] [${logger}] ${message} ${exception:format=tostring}" archiveNumbering="Sequence" archiveAboveSize="10000000"/>
		<target name="logconsole" xsi:type="Console" />
	</targets>
	<rules>
		<logger name="" minlevel="Info" maxlevel="Warning" writeTo="logfile" />
		<logger name="" minlevel="Error" maxlevel="Fatal" writeTo="errorlogfile" />
	</rules>
</nlog>